@* @{ *@
@* 	ViewData["Title"] = "Home Page"; *@
@* } *@

@* @model List<TaskToDo> *@

@* <h2>Current tasks</h2> *@

@* <br /><br /> *@

@* <div class="container"> *@
@* 	<div class="row border-bottom"> *@

@* 		<div class="col-2"></div> *@

@* 		<div class="col-5"><h4>Urgent</h4></div> *@

@* 		<div class="col-5"><h4>Not Urgent</h4></div> *@

@* 	</div> *@

@* 	<br /> *@

@* 	<div class="row border-bottom"> *@

@* 		<div class="col-2 "> *@
@* 			<h4>Important</h4> *@
@* 		</div> *@

@* 		<div class="col-5"> *@
@* 			<h6>Quadrant 1</h6> *@
@* 			<ul> *@
@* 				@foreach (var t in Model) *@
@* 				{ *@
@* 					@if (t.Quadrant == 1) *@
@* 					{ *@
@* 						<li> *@
@* 							@t.TaskName *@
@* 							<a asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId" class="btn btn-info">Edit</a> *@
@* 							<a asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId" class="btn btn-danger">Delete</a> *@
@* 						</li> *@
@* 					} *@
@* 				} *@
@* 			</ul> *@
@* 		</div> *@

@* 		<div class="col-5"> *@
@* 			<h6>Quadrant 2</h6> *@
@* 			<ul> *@
@* 				@foreach (var t in Model) *@
@* 				{ *@
@* 					@if (t.Quadrant == 2) *@
@* 					{ *@
@* 						<li> *@
@* 							@t.TaskName *@
@* 							<a asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId" class="btn btn-info">Edit</a> *@
@* 							<a asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId" class="btn btn-danger">Delete</a> *@
@* 						</li> *@
@* 					} *@
@* 				} *@
@* 			</ul> *@
@* 		</div> *@

@* 	</div> *@


@* 	<div class="row border-bottom"> *@

@* 		<div class="col-2 "> *@
@* 			<h4>Not Important</h4> *@
@* 		</div> *@

@* 		<div class="col-5"> *@
@* 			<h6>Quadrant 3</h6> *@
@* 			<ul> *@
@* 				@foreach (var t in Model) *@
@* 				{ *@
@* 					@if (t.Quadrant == 3) *@
@* 					{ *@
@* 						<li> *@
@* 							@t.TaskName *@
@* 							<a asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId" class="btn btn-info">Edit</a> *@
@* 							<a asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId" class="btn btn-danger">Delete</a> *@
@* 						</li> *@
@* 					} *@
@* 				} *@
@* 			</ul> *@
@* 		</div> *@

@* 		<div class="col-5"> *@
@* 			<h6>Quadrant 4</h6> *@
@* 			<ul> *@
@* 				@foreach (var t in Model) *@
@* 				{ *@
@* 					@if (t.Quadrant == 4) *@
@* 					{ *@
@* 						<li> *@
@* 							@t.TaskName *@
@* 							<a asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId" class="btn btn-info">Edit</a> *@
@* 							<a asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId" class="btn btn-danger">Delete</a> *@
@* 						</li> *@
@* 					} *@
@* 				} *@
@* 			</ul> *@
@* 		</div> *@
@* 	</div> *@
@* </div> *@

@{
    ViewData["Title"] = "Home Page";
}

@model List<TaskToDo>

<h2 class="text-center">Current Tasks</h2>

<div class="container mt-4">
    <table class="table table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th></th>
                <th>Urgent</th>
                <th>Not Urgent</th>
            </tr>
        </thead>
        <tbody>
            <!-- Important Row -->
            <tr>
                <th class="table-primary">Important</th>
                <td>
                    <h6>Quadrant 1</h6>
                    <ul class="list-unstyled">
                        @foreach (var t in Model.Where(t => t.Quadrant == 1))
                        {
                            <li class="mb-2">
                                @t.TaskName
                                <a asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId" class="btn btn-sm btn-info">Edit</a>
                                <a asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId" class="btn btn-sm btn-danger">Delete</a>
                            </li>
                        }
                    </ul>
                </td>
                <td>
                    <h6>Quadrant 2</h6>
                    <ul class="list-unstyled">
                        @foreach (var t in Model.Where(t => t.Quadrant == 2))
                        {
                            <li class="mb-2">
                                @t.TaskName
                                <a asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId" class="btn btn-sm btn-info">Edit</a>
                                <a asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId" class="btn btn-sm btn-danger">Delete</a>
                            </li>
                        }
                    </ul>
                </td>
            </tr>
            <!-- Not Important Row -->
            <tr>
                <th class="table-warning">Not Important</th>
                <td>
                    <h6>Quadrant 3</h6>
                    <ul class="list-unstyled">
                        @foreach (var t in Model.Where(t => t.Quadrant == 3))
                        {
                            <li class="mb-2">
                                @t.TaskName
                                <a asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId" class="btn btn-sm btn-info">Edit</a>
                                <a asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId" class="btn btn-sm btn-danger">Delete</a>
                            </li>
                        }
                    </ul>
                </td>
                <td>
                    <h6>Quadrant 4</h6>
                    <ul class="list-unstyled">
                        @foreach (var t in Model.Where(t => t.Quadrant == 4))
                        {
                            <li class="mb-2">
                                @t.TaskName
                                <a asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId" class="btn btn-sm btn-info">Edit</a>
                                <a asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId" class="btn btn-sm btn-danger">Delete</a>
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
